/* Matthew Neff
   Last Edited: 4/15/2022 */
   
body{
  background-image: url('../images/bg-tableau-2.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px !important;
  font-family: "Raleway", Helvetica, sans-serif !important;
}

a{
  color: #ba8d26;
  text-decoration: none;
}

h2 > a{
  color: #f3f3f3;
  text-decoration: underline;
}

h2 > a:hover{
  color: #e9e9e9;
}

.tableau-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: #f3f3f3;
  margin: 0px;
  font-size: 25px;
  font-weight: 600;
}

.tableau-nav-left{
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.tableau-nav-right{
  display: flex;
  align-items: center;
  margin-right: 25px;
  width: 300px;
  justify-content: space-between;
}

.main-title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0px 50px;
}

.title-wrapper{
  width: 30%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(107, 107, 107, .7);
  border-radius: 15px;
}

.title-wrapper > h1{
  color: #f3f3f3;
  margin-bottom: 0px;
  font-size: 45px;
  text-align: center;
}

.title-wrapper > h2{
  color: #f3f3f3;
  margin-top: 10px;
  text-align: center;
}

.tableau-holder{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  height: 175vh;
  padding: 25px;
  margin-bottom: 50px;
  overflow-y: scroll;
}

.tableau-holder::-webkit-scrollbar {
  display: none;
}

.tableau-chart-wrapper{
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tableau-chart-wrapper > .tableauPlaceholder{
  min-height: 150px !important;
  max-height: 550px !important;
  height: 100% !important;
  border-radius: 15px;
  overflow: hidden;
}

.tableau-chart-wrapper > .tableauPlaceholder > iframe{
  min-height: 150px !important;
  max-height: 550px !important;
  height: 100% !important;
}

.tableau-chart-caption{
  color: #f3f3f3;
  padding: 15px 15px;
  background-color: rgba(107, 107, 107, .7);
  width: 90%;
  text-align: center;
  border-radius: 15px;
}

footer{
  background-color: #f3f3f3;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tableau-footer-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tableau-footer-list-item{
  padding: 0px 5px;
}

.tableau-footer-bottom-text{
  color: #b8b8b8
}
